.smallwallet {
  font-size: 0.75em;
  width: 84px;
  margin: 5px;
  opacity: 0.7;
  position: relative;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  background-image: url('../../img/wallet-b2.png');
  background-size: cover;
  color: white;
  padding: 0.4em;
}

.smallwallet::after {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background-color: white;
  width: 6px;
  height: 6px;
}

.smallwallet-get::after {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background-color: #f63a42;
  width: 6px;
  height: 6px;
}

.smallwallet-active {
  composes: smallwallet;
  opacity: 1;
  box-shadow: 0 0 0 2px #0d0d3f;
}

.smallwallet-empty {
  composes: smallwallet;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e71f0;
  opacity: 1;
  box-shadow: inset 0 0 0 2px #2e71f0;
  background: transparent;
}

.loader {
  animation: rotate 2s linear infinite;
}
