.smallwallet {
  position: relative;
  width: calc((100% - 30px) / 4);
  display: flex;
  align-items: center;
  height: 58px;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
  background-image: url('../../img/wallet-b2.png');
  background-size: cover;
  color: var(--text-main-color-light);
  font-size: 0.75em;
}

.smallwallet:hover {
  box-shadow: 4px 4px 8px 0px rgba(3, 1, 21, 0.63);
}

.smallwallet:not(:nth-child(4n)) {
  margin-right: 10px;
}

.status {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background-color: var(--bg-main-color-light);
  width: 6px;
  height: 6px;
}

.active {
  composes: status;
  background-color: #327432;
}

.notActive {
  composes: status;
  background-color: #f63a42;
}

.smallwallet-active {
  composes: smallwallet;
  opacity: 1;
}

.smallwallet-empty {
  composes: smallwallet;
  pointer-events: none;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  opacity: 1;
  box-shadow: inset 0 0 0 2px var(--accent-color);
  background: transparent;
}

.ultra {
  composes: smallwallet;
  position: absolute;
  top: 0;
  right: 20px;
  opacity: 0.7;
}
