.block {
  margin-bottom: 16px;
}

.label {
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 4px;
}

.input {
  margin-bottom: 16px;
  padding: 4px 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d0d0d094;
  color: #73747a;
  font-family: 'Menlo';
  font-size: 13px;
  transition: 0.2s ease-in-out;
}

.input:focus {
  border: 1px solid #2e71f0;
  outline: none;
}

.input::selection {
  background: #90ffe1;
}

.button {
  padding: 8px 19px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #2c22e0;
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: none;
  display: block;
  font-weight: 500;
  font-size: 15px;
  user-select: none;
  transition: 0.1s ease-in-out;
}

.button:hover {
  background-color: #2000b8;
}

.button:active {
  top: 1px;
}
