.button {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 12px;
  line-height: 1.4em;
}

.button:hover {
  color: var(--btn-bg-color);
}

.button:active {
  top: 3px;
}
