.spacer {
  padding-bottom: 16px;
}

.wallet {
  --proportion: 1.58577250834;
  --height: 140px;
  width: calc(var(--height) * var(--proportion));
  height: var(--height) ;
  margin-bottom: 8px;
  padding: 15px 12px 12px;
  border-radius: 8px;
  background-color: var(--btn-bg-color);
  background-image: url('../../img/wallet-b.png');
  background-size: cover;
  color: var(--text-main-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  margin: 0 0 0 3px;
  opacity: 0.5;
  font-size: 11px;
  letter-spacing: 1px;
}

.value p {
  display: flex;
  align-items: center;

  padding-top: 5px;
  margin: 0;

  font-size: 25px;
  letter-spacing: 1px;
}

.value p:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

.yadd {
  display: flex;
  justify-content: center;

  padding: 5px 7px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 11px;

  color: var(--copy-text-color);
  border-radius: 8px;

  transition: 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.yadd:hover {
  background-color: var(--copy-bg-color);
}

.yadd:active {
  color: var(--copy-text-color-active);
}

.block {
  margin-bottom: 16px;
}

.block label {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
}

.input {
  display: flex;
  margin-bottom: 16px;
  padding: 4px 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  color: var(--accent-color);
  font-family: 'Menlo';
  font-size: 13px;
  transition: 0.2s ease-in-out;
}

.input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input::selection {
  background: var(--input-selection-color);
}

.button {
  min-height: 36px;
  width: 100%;
  text-align: center;
  color: var(--text-main-color-light);
  background-color: var(--btn-bg-color);
  outline: none;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
  transition: 0.1s ease-in-out;
}

.buttonLoading {
  composes: button;
  pointer-events: none;
  background-color: var(--bg-main-color-light);
  box-shadow: inset 0 0 0 2px var(--accent-color);
}

.button:hover {
  background-color: var(--btn-bg-color-hover);
}

