.message {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: var(--message-bg-color);
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0.7em;
  padding: 5px;
  color: var(--message-text-color);
}
.message > *:before {
  position: relative;
  font-size: 0.9em;
  top: 1px;
  left: -2px;
}
.message span {
  padding: 0 7px;
  letter-spacing: -0.02em;
}
.button {
  display: flex;
  justify-content: center;
  min-width: 44px;
  margin-left: 2em;
  background-color: transparent;
  border-radius: 3.5px;
  border: 1px solid var(--message-text-color);
  color: var(--message-text-color);
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: -0.03em;
  padding: 1px 3.5px 1px 4px;
  position: relative;
  cursor: pointer;
}

.buttondisabled {
  display: inline-block;
  min-width: 44px;
  margin-left: 2em;
  background-color: transparent;
  border-radius: 3.5px;
  border: 1px solid var(--message-text-color);
  color: var(--message-text-color);
  opacity: 0.5;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: -0.03em;
  padding:  2px 4px 1px 8px;
  position: relative;
  cursor: default;
  pointer-events: none;
}

.buttonvoted {
  display: inline-block;
  min-width: 44px;
  margin-left: 2em;
  border-radius: 3.5px;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: -0.03em;
  padding: 2px 4px 1px 8px;
  position: relative;
  border: 1px solid #000;
  background-color: #000;
  color: var(--text-main-color-light);
}

.button:hover {
  border: 1px solid var(--message-text-color-hover);
  color: var(--message-text-color-hover);
}

.button:active {
  border: 1px solid #000;
  background-color: #000;
  color: var(--text-main-color-light);
}
