h1 {
  margin: 0;
}

.main {
  background-color: var(--header-bg-color);
  color: var(--text-main-color-light);
  display: flex;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 14px;
  margin-right: 8px;
}

.title {
  text-decoration: none;
  color: var(--text-main-color-light);
  font-weight: 700;
  font-size: 25px;
}

.menu {
  margin-left: auto;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  padding-bottom: 3px;
  margin: 0 8px;
  color: var(--text-main-color-light);
  border-bottom: 2px solid transparent;
}

.active {
  composes: link;
  border-bottom: 2px solid var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
  transition: 0.2s ease-in-out;
}

.act {
  border-bottom: 2px solid var(--accent-color);
}
