.flex {
  display: flex;
}

.row {
  height: 522px;
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.container:not(:last-child) {
  margin-right: 48px;
}
