.smallwallet {
  position: relative;
  width: calc((100% - 50px) / 7);
  align-items: center;
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
  background-image: url('../../img/wallet-b2.png');
  background-size: cover;
  color: white;
  font-size: 0.75em;
}

.smallwallet:hover {
  box-shadow: 4px 4px 8px 0px rgba(3, 1, 21, 0.63);
}

.smallwallet:not(:nth-child(7n)) {
  margin-right: 5px;
}

.status {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background-color: white;
  width: 6px;
  height: 6px;
}

.active {
  composes: status;
  background-color: #327432;
}

.notActive {
  composes: status;
  background-color: #f63a42;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  border-radius: 6px;
  background-color: rgb(255, 187, 187);
  color: rgb(8, 0, 116);
  font-size: 0.85em;
  transition: 1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
}
