.smallwallet {
  position: relative;
  display: flex;
  width: calc((100% - 50px) / 7);
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.7;
  border-radius: 6px;
  cursor: pointer;
  background-image: url('../../img/wallet-b2.png');
  background-size: cover;
  color: var(--text-main-color-light);
  font-size: 0.75em;
}

.smallwallet:hover {
  box-shadow: 4px 4px 8px 0px rgba(3, 1, 21, 0.63);
}

.smallwallet:not(:nth-child(7n)) {
  margin-right: 5px;
}

.status {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background-color: var(--bg-main-color-light);
  width: 6px;
  height: 6px;
}

.active {
  composes: status;
  background-color: #327432;
}

.notActive {
  composes: status;
  background-color: #f63a42;
}

/* .tooltipcontent {
  visibility: hidden;
  position: absolute;
  z-index: 20;
  width: 75px;
  padding: 5px;
  background-color: rgb(63, 61, 124);
  color: var(--text-main-color-light);
  border-radius: 6px;
}

.smallwallet:hover .tooltipcontent {
  visibility: visible;
} */
